.init-xcode-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.init-xcode-spin {
  color: #2c68ff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum';
  position: absolute;
  display: none;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.init-xcode-spin-spinning {
  position: static;
  display: inline-block;
  opacity: 1;
}
.init-xcode-spin-dot-spin {
  transform: rotate(0deg);
  animation: antRotate 1.2s linear infinite;
}

.init-xcode-spin-dot {
  color: #2c68ff;
  position: relative;
  display: inline-block;
  font-size: 20px;
  width: 1em;
  height: 1em;
}
.init-xcode-spin-text {
  color: #2c68ff;
}
.init-xcode-spin-dot-item:first-child {
  top: 0;
  left: 0;
}
.init-xcode-spin-dot-item:nth-child(2) {
  top: 0;
  right: 0;
  animation-delay: 0.4s;
}
.init-xcode-spin-dot-item:nth-child(3) {
  right: 0;
  bottom: 0;
  animation-delay: 0.8s;
}
.init-xcode-spin-dot-item:nth-child(4) {
  bottom: 0;
  left: 0;
  animation-delay: 1.2s;
}
.init-xcode-spin-dot-item {
  color: #2c68ff;
  transform: none;
  background-color: #2c68ff;
  width: 8px;
  height: 8px;
  position: absolute;
  display: block;
  border-radius: 100%;
  transform-origin: 50% 50%;
  opacity: 0.3;
  animation: antSpinMove 1s linear infinite alternate;
}
